#experiencesPicker {
  padding: 0rem;
  display: inline-flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

#experienceDivider {
  font-size: calc(var(--fs) * 1.25);
  padding: 0;
  line-height: 1;
  color: var(--emphasis);
}

.isSelected {
  color: var(--emphasis) !important;
}
