#facePlateContainer {
  position: absolute;
  top: 22%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#facePlateButtons {
  display: flex;
  justify-content: center;
}
#facePlate {
  flex-grow: 0;
  padding: 6rem;
  z-index: 999;
  background-color: var(--blackground);
  background: radial-gradient(
    ellipse at center,
    var(--blackground),
    var(--blackground),
    transparent,
    transparent
  );
  border-radius: 40px;
}

.faceplateText {
  color: var(--emphasis);
  text-align: center;
}

.emphasis {
  color: var(--emphasis);
}

#faceplatebutton {
  border-right: 0;
}
