#facePlateContainer {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: center;

  transform: translate(0%, -50%);
}

#facePlateButtons {
  display: flex;
  justify-content: center;
  /* flex: 0 0 100%; */
}
.wider {
  padding: 0.4rem 1.3rem; /* Adjust padding if needed */
}
#facePlate {
  flex-grow: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: var(--blackground);
  background: radial-gradient(
    ellipse 100% 65% at center,
    var(--blackground),
    var(--blackground),
    transparent,
    transparent,
    transparent,
    transparent,
    transparent
  );
  border-radius: 40px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  row-gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faceplateText {
  color: var(--emphasis);
  text-align: center;
  /* flex: 0 0 100%; */
}

.emphasis {
  color: var(--emphasis);
}

/* #faceplatebutton {
  border-right: 0;
} */
