#facePlate {
  position: absolute;
  top: 40%;
  width: 90%;
  left: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  z-index: 999;
}

.faceplateText {
  color: #f2f4f3;
  text-align: center;
}

.emphasis {
  color: #df2935
}

#faceplatebutton {
  border-right: 0
}