.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1%;
  row-gap: 2rem;
  margin: 2rem 0 2rem 0;
}

.skill {
  flex-basis: auto;
  padding: 0rem;
  /* flex: 1 1 auto */
  background: linear-gradient(var(--black2), var(--black2)) padding-box,
    linear-gradient(235deg, var(--off) 0%, var(--emphasis) 100%) border-box;
  border-radius: calc(2rem);
  border: calc(0.225rem) solid transparent;
}

.skill svg {
  padding: 0.25vw 2vw 0.25vw 2vw;
  max-width: 100%;
  height: auto;
}

.skillName {
  text-align: center;
  margin: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1rem !important;
  /* min-height: 3vw; */
  /* height: 3vw; */
}

@media only screen and (max-width: 680px) {
  .skill {
    width: 40%;
    /* flex: 1 1 auto; */
  }
  .skills {
    column-gap: 4%;
    flex-wrap: wrap;
  }
  .skill svg {
    min-height: 11rem;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 680px) {
  .skill {
    width: 23%;
    /* flex: 1 1 auto; */
    /* max-width: 33%; */
  }
  .skills {
    column-gap: 2%;
    flex-wrap: wrap;
  }

  .skill svg {
    min-height: 9rem;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 840px) {
  .skill {
    width: 20%;
    /* flex: 1 1 auto */
  }

  .skill svg {
    min-height: 8rem;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 1100px) {
  .skill {
    width: 17%;
    /* flex: 1 1 auto */
  }
  .skill svg {
    min-height: 7rem;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1450px) {
  .skill {
    width: 15%;
    /* flex: 1 1 auto */
  }

  .skills {
    row-gap: 2dvh;
  }

  .skill svg {
    min-height: 7rem;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1800px) {
  .skill {
    width: 13%;
    /* flex: 1 1 auto */
  }

  .skills {
    row-gap: 2dvh;
  }

  .skill svg {
    min-height: 7rem;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 2400px) {
  .skill {
    width: 10%;
    /* flex: 1 1 auto */
  }

  .skills {
    row-gap: 2dvh;
  }

  .skill svg {
    min-height: 8rem;
  }
}
