#footer {
  text-align: center;
  background-color: #DF2935;
}

#footer svg {
  height: 3rem;
  width: 3rem;
  position: absolute;
  transition: all 0.5s;
  top: 1rem
}

#footer svg:hover {
  height: 4rem;
  width: 4rem;
}

#gh,
#li {
  position: relative;
}

#gh svg {
  left: calc(46vw - 3rem)
}

#li svg {
  right: calc(46vw - 3rem)
}

#gh svg:hover {
  left: calc(46vw - 3.5rem);
  top: 0.5rem
}

#li svg:hover {
  right: calc(46vw - 3.5rem);
  top: 0.5rem
}

#copyright {
  padding: 0 0 1rem 0;
  height: 3rem;
  color: #F2F4F3;
}

#placeholder {
  height: 5rem;
  width: 4rem;
  margin: auto;
}