#footer {
  text-align: center;
  background-color: var(--black2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px; */
}

.footerText {
  padding: 1rem;
  /* height: 3rem; */
  color: var(--white);
  line-height: 1;
  /* oadd */
}

/* #footer svg:hover {
  height: 4rem;
  width: 4rem;
} */
#placeholder {
  height: 5rem;
  width: 4rem;
  margin: auto;
}

#ScrollToTop {
  background: var(--gradient);
  display: inline-block;
  position: fixed;
  opacity: 0.4;
  right: 1.5625rem;
  bottom: 4rem;
}

.ScrollWrapper {
  border: 0px hidden transparent;
  border-radius: 50px;
  padding: 3px;
  margin: 0px;
}

.arrow {
  height: 1.3rem;
}
