.projectTile img {
  width: 100%;
  height: min(40vh, 30rem);
  padding: 0.25rem;
  object-fit: cover;
  align-self: stretch;
  overflow: hidden;
}

.projectTile {
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.projectInfo {
  background-color: #35353a;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.25rem;
  align-items: stretch;
}

.description {
  padding: 1.5rem 0.75rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.description p {
  margin: 0;
}

.tagholder {
  padding: 0.25rem;
  display: flex;
  flex-flow: row wrap;
  column-gap: 0.6rem;
  row-gap: 1dvh;
  justify-content: center;
  /* flex: 1; */
}

.tag {
  border: 1px solid var(--off);
  background-color: var(--off);
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: default;
  align-items: center;
  margin-bottom: auto;
}

.tag p {
  margin: 0;
}

.outlier a {
  background: linear-gradient(var(--black2), var(--black2)) padding-box,
    var(--gradient) border-box !important;

  border-radius: calc(2rem) !important;
  border: 3px solid transparent !important;
  color: var(--white) !important;
  /* transition: 0.5s; */
  box-shadow: 0 0 0.5rem rgba(var(--emphasisrgb), 0.2) !important;
  padding: 0.8rem;
}

.outlier a:hover {
  background: var(--gradient) padding-box, var(--gradient) border-box !important;
  border-radius: calc(2rem) !important;
  border: 3px solid transparent !important;
  box-shadow: 0 0 0.5rem rgba(var(--emphasisrgb), 0.2) !important;
}

.outlier {
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
  padding: 1rem 0.25rem;
}

.outlier a h4 {
  margin: 0;
}

.projectButton {
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
  padding-top: 1dvh;
  padding-bottom: 1dvh;
  padding: 0.8rem;
  margin: 0;
  background: linear-gradient(var(--black2), var(--black2)) padding-box,
    var(--gradient) border-box !important;

  border-radius: calc(2rem) !important;
  border: 3px solid transparent !important;
  color: var(--white) !important;
  /* transition: 0.5s; */
}

.projectButton:hover {
  background: var(--gradient) padding-box, var(--gradient) border-box !important;
  border-radius: calc(2rem) !important;
  border: 3px solid transparent !important;
}
