#workExperience {
  background: var(--black2);
  display: flex;
  padding: 0.25rem;
}

#workExperience img {
  height: 7rem;
  width: 7rem;
  padding: 0.25rem;
}

#workImgHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#experienceInfo {
  padding: 0.75rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  /* align-items: center; */
}

#experienceInfo h3 {
  margin: 0;
}

.workTagHolder {
  display: flex;
  flex-flow: row wrap;
  column-gap: 0.6rem;
  row-gap: 1rem;
  justify-content: left;
  /* flex: 1; */
}
