#navbar {
  /* display: table !important; */
  width: 100%;
  background: var(--black2);
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 0rem 1rem;
  height: 4rem;
  align-items: center;
  z-index: 2;
  gap: 0.65rem;
}

@media only screen and (max-width: 400px) {
  #navbar {
    padding: 0rem 0.5rem;
  }
}

#navbar svg {
  height: calc(var(--fs) * 2.5);
  width: calc(var(--fs) * 2.5);
}

.dotDivider {
  font-size: calc(var(--fs) * 1.6);
  padding: 0;
  line-height: 1;
  color: var(--emphasis);
}

.navButtons {
  padding: 0rem;
  display: flex;
  justify-content: space-between;
  gap: 0.65rem;
}

.navIcons {
  display: flex;
  justify-content: space-around; /* Distribute space evenly */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Allow wrapping to the next line if needed */
  gap: 0.65rem;
}

.navIcon {
  flex: 1; /* Allow the SVG wrappers to grow and shrink equally */
  display: flex;
  justify-content: center; /* Center the SVGs horizontally */
  align-items: center; /* Center the SVGs vertically */
  overflow: hidden;
}

.socialIcon {
  width: 100%; /* Make the SVG fill the wrapper */
  height: auto; /* Maintain aspect ratio */
  /* max-height: 100px; Maximum height for the SVGs */
  transition: transform 0.25s ease;
  /* Ensure the SVGs stay within their container */
  display: block;
  padding: 0.2rem;
}

.socialIcon:hover {
  transform: scale(1.15); /* Adjust the scale factor as needed */
}

#navName {
  text-decoration: none;
}
