#content {
  background-color: var(--blackground);
}

#about,
#work {
  margin: auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#avoidHeader {
  padding-top: 4rem;
}

#about h1,
#work h1,
#resume h1,
#namePlate {
  display: inline;
  /* background: linear-gradient(235deg, var(--emphasis) 0%, var(--off) 100%); */
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
