.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1%;
  row-gap: 2vh;
  margin: 2rem 0 2rem 0;
}

.skill {
  flex-basis: auto;
  padding: 0rem;
  /* flex: 1 1 auto */
  background: linear-gradient(var(--black2), var(--black2)) padding-box,
    linear-gradient(235deg, var(--off) 0%, var(--emphasis) 100%) border-box;
  border-radius: calc(2rem);
  border: calc(0.225rem) solid transparent;
  /* min-height: calc(22vh); */
}

.skill svg {
  padding: 0.25vw 2vw 0.25vw 2vw;
  max-width: 100%;
  height: auto;
  min-height: calc(14vh);
}

.skillName {
  text-align: center;
  margin: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: calc(1rem) !important;
  /* min-height: 3vw; */
  /* height: 3vw; */
}

@media only screen and (max-width: 600px) {
  .skill {
    width: 24%;
    /* flex: 1 1 auto */
  }
  .skills {
    column-gap: 2%;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .skill {
    width: 22%;
    /* flex: 1 1 auto */
  }

  .skills {
    column-gap: 2%;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .skill {
    width: 20%;
    /* flex: 1 1 auto */
  }

  .skills {
    column-gap: 2%;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .skill {
    width: 16%;
    /* flex: 1 1 auto */
  }

  .skills {
    column-gap: 2.5%;
    row-gap: 2vh;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .skill {
    width: 14%;
    /* flex: 1 1 auto */
  }

  .skills {
    column-gap: 2.5%;
    row-gap: 2vh;
  }
}
