.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  row-gap: 2.5vh
}

.skill {
  flex-basis: auto;
  border: 0.3rem solid black;
  border-radius: 4rem;
  padding: 0.5rem;
  max-width: 30%;
  width: 30%;
  flex: 1 1 auto
}

.skill svg {
  padding: 2vw 2vw 0 2vw;
}


.skillName {
  text-align: center;
}