.projectTile img {
  width: auto;
  height: auto;
  padding: 0.25rem;
  object-fit: cover;
  min-width: 0;
  align-self: stretch;
  flex: 2 2 0;
  overflow: hidden;
}

.projectTile {
  margin-bottom: 3rem;
  box-sizing: border-box;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.projectInfo {
  background-color: #35353a;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.25rem;
  align-items: stretch;
}

.description {
  padding: 0.25rem;
  flex: 1;
}

.description p {
  margin: 0;
}

.tagholder {
  padding: 0.25rem;
  display: flex;
  flex-flow: row wrap;
  column-gap: 2%;
  row-gap: 1vh;
  justify-content: center;
  /* flex: 1; */
}

.tag {
  border: 1px solid var(--off);
  background-color: var(--off);
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: default;
  align-items: center;
  margin-bottom: auto;
}

.tag p {
  margin: 0;
}

.outlier a {
  background: linear-gradient(var(--black2), var(--black2)) padding-box,
    var(--gradient) border-box !important;

  border-radius: calc(2rem) !important;
  border: 3px solid transparent !important;
  color: var(--white) !important;
  /* transition: 0.5s; */
}

.outlier a:hover,
.outlier a:focus,
.outlier a:active {
  background: var(--gradient) padding-box, var(--gradient) border-box !important;
  border-radius: calc(2rem) !important;
  border: 3px solid transparent !important;
  box-shadow: none !important;
}

.outlier {
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
  padding: 0.25rem;
}

.outlier a h4 {
  margin: 0;
}

.outlier a {
  padding: 0.8rem;
}

.projectButton {
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding: 0.8rem;
  margin: 0;
  background: linear-gradient(var(--black2), var(--black2)) padding-box,
    var(--gradient) border-box !important;

  border-radius: calc(2rem) !important;
  border: 3px solid transparent !important;
  color: var(--white) !important;
  /* transition: 0.5s; */
}

.projectButton:hover .projectButton:focus .projectButton:active {
  background: var(--gradient) padding-box, var(--gradient) border-box !important;
  border-radius: calc(2rem) !important;
  border: 3px solid transparent !important;
  box-shadow: none !important;
}
