@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif !important;
  /* font-family: "Inter", sans-serif !important; */
  font-size: var(--fs) !important;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%; /* Ensures body and html take full height of the viewport */
  margin: 0; /* Removes default margin */
  /* overflow-y: hidden; Prevents horizontal overflow */
  overflow-x: hidden; /* Prevents horizontal overflow */
}

:root {
  --emphasis: #4cc9f0;
  --emphasisrgb: 0, 180, 216;
  --blackground: #272727;
  --white: #f2f4f3;
  --off: #db324d;
  --off2: #ee964b;
  --black2: #35353a;
  --gradient: linear-gradient(30deg, var(--off), var(--off2), var(--emphasis));
  --fs: 1.25rem;
}

h1 {
  font-size: 2rem !important;
  color: var(--white) !important;
}

h2 {
  font-size: 1.75rem !important;
  color: var(--white) !important;
}

h3 {
  font-size: 1.5rem !important;
  color: var(--white) !important;
}

h4 {
  font-size: 1.25rem !important;
  color: var(--white) !important;
}

p {
  font-size: 1rem !important;
  color: var(--white) !important;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* overflow-y: scroll; */
  /* cursor: none; */
}

body::-webkit-scrollbar {
  display: none;
}

.btn-outline-primary {
  color: var(--emphasis) !important;
  border-color: var(--emphasis) !important;
  border-width: 0.095rem !important;
  transition: all 0.15s !important;
}

.btn-outline-primary:hover {
  background-color: var(--emphasis) !important;
  color: var(--white) !important;
  border-width: 0.095rem !important;
  box-shadow: 0 0 0.5rem rgba(var(--emphasisrgb), 0.5) !important;
}

.nav-link {
  color: var(--white) !important;
  transition: transform 0.25s !important;
}

.nav-link:hover {
  color: var(--emphasis) !important;

  transform: scale(1.04);
  transition: transform 0.25s !important;
}

/* Small screen devices (600px and above) */
@media only screen and (max-width: 600px) {
  #about,
  #work-experience,
  #projects {
    width: 95%;
  }
  #workExperience {
    flex-direction: column;
    align-items: center;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  #about,
  #work-experience,
  #projects {
    width: 90%;
  }
  #aboutBox {
    grid-template-columns: 1fr;
  }
  #imageHolder {
    max-width: 75vw;
  }
  #imageHolder {
    margin: 0 auto;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #about,
  #work-experience,
  #projects {
    width: 85%;
  }
  #aboutBox {
    grid-template-columns: 1fr;
  }
  #imageHolder {
    max-width: 50vw;
  }
  #imageHolder {
    margin: 0 auto;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 992px) {
  #about,
  #work-experience,
  #projects {
    width: 80%;
  }
  #aboutBox {
    grid-template-columns: 1fr 1fr;
  }
  #imageHolder img {
    position: absolute;
  }
  #imageHolder {
    margin: 0;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  #about,
  #work-experience,
  #projects {
    width: 75%;
  }
  #aboutBox {
    grid-template-columns: 1.5fr 1fr;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1600px) {
  #about,
  #work-experience,
  #projects {
    width: 70%;
  }
  #aboutBox {
    grid-template-columns: 5fr 2fr;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1900px) {
  #about,
  #work-experience,
  #projects {
    width: 65%;
  }
  #aboutBox {
    grid-template-columns: 3fr 1fr;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 2200px) {
  #about,
  #work-experience,
  #projects {
    width: 60%;
  }
  #aboutBox {
    grid-template-columns: 4fr 1fr;
  }
}

@media only screen and (min-width: 2500px) {
  #about,
  #work-experience,
  #projects {
    width: 50%;
  }
  #aboutBox {
    grid-template-columns: 3fr 1fr;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 2800px) {
  #about,
  #work-experience,
  #projects {
    width: 40%;
  }
  #aboutBox {
    grid-template-columns: 2fr 1fr;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 3600px) {
  #about,
  #work-experience,
  #projects {
    width: 40%;
  }
  #aboutBox {
    grid-template-columns: 8fr 1fr;
  }
}
