@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro&display=swap');

html {
  font-family: 'Open-Sans', sans-serif;
  font-size: 16px
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* overflow-y: scroll; */
  /* cursor: none; */
}

body::-webkit-scrollbar {
  display: none;
}